: root {
--font-roboto:'Montserrat', sans-serif;
}

a :visited {
    color: #272727;
}

/*property body*/
body {
    background-color: #131313;
    margin: 0%;
    color: #FFFFFF;
   
}

.borderbottom {
    width: 100%;
    border-bottom: 1px solid #272727;  
}

/*header*/
.header {
    width: 70%;
    margin:0 auto;
    overflow: auto;
}

.logo, .navigation-items, .navigation, .page {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
  float: left;
  display: inline-block;
  padding: 0.8rem 0.8rem;
}
.cardnumber {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.8rem 0 0 0;
    border-left: 1px solid #272727;
    font-size: 16px;
    font-family: var(--font-roboto);
}

.navigation {
    float: right;
}

/*navigation-items*/
.navigation-items a, .page a{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.3rem 0.5rem;
    font-family: var(--font-roboto);
    font-size: 13px;
    font-weight: bold; 
}



.wall {
    width: 70%;
    margin: 0 auto;
    background-image: url(../img/wall.png);
    background-repeat: no-repeat;

}


.table {
    width: 100%;
    margin: 0 auto; 
    border-spacing: unset; 
}


.caption {
    text-align: left;
    font-family: var(--font-roboto);
    font-size: 30px;
    padding: 2rem 0; 
    margin: 12% auto 0 auto;  
}
/* Шапка таблицы */
.headtable {
    font-weight: blek;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #727272;
}

tbody {
    border: 1px solid grey;
    background-color: #131313;
    border-collapse: collapse
}


tr {
    border-bottom: 1px solid #272727;
    border-collapse: collapse;
    
}

thead > tr > td {
    border-bottom: 1px double #272727;


}

tbody td {
    border-bottom: 1px solid #272727;
    font-family: var(--font-roboto);
    font-size: 16px;
    padding: 0.5rem;
}

tbody td:last-of-type {
    border-right: 1px solid #272727;
}

tbody td:first-of-type {
    border-left: 1px solid #272727;
}


.pagination {
    text-align: center;
}

tr.pagination > td {
    word-spacing: 2rem;
}

thead td {
    border-bottom: 1px double #272727;
}



